@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  width: 100%;
}

p, h1 {
  font-family: 'Quicksand', sans-serif;
}

.text-centered {
  text-align: center;
}
